body{
    text-align:center;
    font-family: audiowide;
    background: black; 
    background-size: cover;
    color:white;
    text-align: center;
}

div {
    margin: 20px;
    padding: 10px;
    display:inline-block;
    background:black;
}

h2 {
    padding-top: 10px;
    display:inline-block;
    background:black;
}

.rom-not {
    font-size:10px;
}
.vr-guy{
    float: left;
    display:block;
    height: 100px;
    width: 100px;
}


<<<<<<< HEAD
.vr-guy {
    max-height: 100px;
    max-width: 100px;
=======
#hacker{
    float: right;
    display:block;
    height: 200px;
    width: 250px;
>>>>>>> 873604e1384e7476aa0585c821ab01db4a0804aa
}