body {
    font-family: audiowide;
    background: black; 
    background-size: cover;
    color:white;
    text-align: center;
}

div {
    display:inline-block;
    background:black;
}

h2 {
    padding-top: 10px;
    display:inline-block;
    background:black;
    
}

.rom-not {
    font-size:10px;
}

.vr-guy {
    max-height: 100px;
    max-width: 100px;
}